@tailwind base;
@tailwind components;
@tailwind utilities;
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-height {
  height: calc(100vh - 4rem);
}

@layer components {
    .nav-links {
      @apply flex items-center;
    }

}